This is the Automated Credential Scan. It scans all repositories using KICS and checks if there are leaked credentials in the code.

You can find more information and how to opt out of scanning in [the KICS scanner documentation](https://telekom-mms.github.io/gitlab-credential-scanner/)

The script will only create this single ticket. You can close it if you fixed the issues and it will be re-opened once new issues are found.

## Scanner Output:

```
{{ scanner_output }}
```
